body {
  font-size: 14px;
}
/**** Navigation will spand the entire page ****/
nav {
  background-color: #FFFF00;
  height: 100px;
  margin-top: -10px;
  position: fixed;
  width: 100%;
  top: 0;
}
h1 {
  font-family: sans-serif;
  font-size: 2em;
}

/**** Element Section ****/

section {
  margin: 0px auto 0;
  width: 60%;
  position: relative;
  z-index: -1;
  top: 90px;
}

.example, h3 {
  padding-top: 30px;
  text-align: center;
  font-size: 1.3em;
}

.element {
  background-color: #008000;
  height: 100px;
  margin: 10px 0px;
  width: 100%;
}

.element.color {
  background-color: #008000;
}
